---
import Section from '../../ui/Section.astro'
import Col from '../../ui/Col.astro'
import Row from '../../ui/Row.astro'
import Feature from '../../ui/Feature.astro'
---

<Section layout="someLayout" id="something" mode="">
	<Row>
		<Col size="col-span-2 lg:col-span-3">
			<Feature type="top-icon" iconStyle="square" title="Responsive Design:">
				<p>Embark on a transformational journey with our architectural solutions.</p>
			</Feature>
		</Col>
		<Col size="col-span-2 lg:col-span-3">
			<Feature type="top-icon" iconStyle="square" title="Continuous Support:" icon="chat-bubbles">
				<p>Benefit from steadfast guidance and assistance throughout creativity.</p>
			</Feature>
		</Col>
		<Col size="col-span-2 lg:col-span-3">
			<Feature type="top-icon" iconStyle="square" title="App Access:" icon="mobile">
				<p>Gain access to innovation and expertise with our architectural solutions app.</p>
			</Feature>
		</Col>
		<Col size="col-span-2 lg:col-span-3">
			<Feature type="top-icon" iconStyle="square" title="Consulting:" icon="book">
				<p>Navigate architectural planning confidently with the guidance of our solutions.</p>
			</Feature>
		</Col>
	</Row>
</Section>
