---
//Layout Components
import Section from '../../ui/Section.astro'
import Col from '../../ui/Col.astro'
import Row from '../../ui/Row.astro'

//UI Comopnents
import Breadcrumbs from '../../ui/Breadcrumbs.astro'
---

<Section padding="none" classes="py-4">
	<Row>
		<Col span="12">
			<Breadcrumbs />
		</Col>
	</Row>
</Section>
