---
import Section from '../../components/Section.astro'
import Col from '../../components/Col.astro'
---

<Section id="hero" layout="" mode="">
	<Col size="col-span-3 lg:col-span-6 ">
		<h1>Test</h1>
		<p>This is a test.</p>
	</Col>
	<Col size="col-span-3 lg:col-span-6">
		<h1>Test2</h1>
		<p>This is a test.</p>
	</Col>
</Section>
