---
import Badge from '../Badge.astro'
import { getCollection } from 'astro:content'

// Fetching blog posts and tags
const posts = await getCollection('blog')
const tags = [...new Set(posts.map((post) => post.data.tags).flat())]

// Get current URL path
const currentPath = new URL(Astro.request.url).pathname

// Extract current tag from URL if it exists (assuming URL structure like /tags/tagName)
const currentTag = currentPath.startsWith('/blog/tags/')
	? currentPath.split('/blog/tags/')[1]
	: null
---

<div class="tags">
	<Badge link={`/blog/`} name={`All`} type={`${currentTag === null ? 'primary' : 'neutral'}`} />
	{
		tags.map((tag) => (
			<>
				<Badge
					link={`/blog/tags/${tag}`}
					name={tag}
					type={`${currentTag === tag ? 'primary' : 'neutral'}`}
				/>
			</>
		))
	}
</div>

<style>
	.tags {
		@apply mb-6 flex flex-row flex-wrap items-center justify-start gap-2;
	}
</style>
