body {
	@apply bg-white text-neutral-500 dark:bg-slate-900 dark:text-neutral-300;
}
p {
	@apply text-neutral-500 dark:text-neutral-300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-neutral-700 dark:text-neutral-50;
}

h1,
h2,
h3 {
	@apply text-balance font-bold;
}

h4,
h5,
h6 {
	@apply font-semibold;
}

h1 {
	@apply text-4xl lg:text-6xl;
}

h2 {
	@apply text-3xl lg:text-4xl;
}

h3 {
	@apply text-2xl lg:text-3xl;
}

h4 {
	@apply text-xl lg:text-2xl;
}

h5 {
	@apply text-lg lg:text-xl;
}

h6 {
	@apply text-base lg:text-lg;
}
