---
// Basic Dark Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, background image, notification and a button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import Highlight from '../../ui/Highlight.astro'

// Content
import ctaImage from '../../../assets/cta-dark-bg.webp'
import badge from '../../../assets/badge.svg'
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="Join Over 30,000 Satisfied Users!"
				text="Discover why thousands of professionals trust our platform to streamline their workflow and enhance productivity. Get started today and see the difference for yourself!"
				mode="dark"
				bg={ctaImage}
			>
				<ChipNotification radius="rounded-full" classes="mb-6 box">
					<Image src={badge} alt="Product of the Year" class="h-12 w-12" slot="button" />
					<span class="hidden md:block">#1 Product of the Year,</span>
					<Highlight classes="md:ml-2"> Product Hunt </Highlight>
				</ChipNotification>
				<Button size="lg" style="primary"> Get started now! </Button>
			</CTA>
		</Col>
		<Col span="1" />
	</Row>
</Section>
