---
// Basic Dark Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, background image, notification and a button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'

// Content
import ctaImage from '../../../assets/cta-dark-bg.webp'
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="Intéressé par Optifit ?"
				text="Vous pouvez dès maintenant demander une démo pour découvrir en détail les fonctionnalités de notre application et comment elle peut vous aider à gérer vos évènements sportifs !"
				mode="dark"
				bg={ctaImage}
			>
				<Button size="lg" style="primary">Je veux une démo</Button>
			</CTA>
			<Col span="1" />
		</Col>
	</Row>
</Section>
