---
// Basic Light Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, a rating and a button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'
import Ratings from '../../ui/Rating.astro'
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="Join the Foxi Revolution!"
				text="Discover why thousands of professionals trust our platform to streamline their workflow and enhance productivity. Get started today and see the difference for yourself!"
				classes="!shadow-none"
			>
				<Ratings rating={5} text="30K customer ratings" classes="mb-4" />
				<Button size="lg" style="primary"> Get started now! </Button>
			</CTA>
		</Col>
		<Col span="1" />
	</Row>
</Section>
