---
interface Props {
	link?: string
	classes?: string
}

const { link, classes } = Astro.props
---

{
	link ? (
		<a href={link} class:list={['card', { [`${classes}`]: classes }]}>
			<slot />
		</a>
	) : (
		<div class:list={['card', { [`${classes}`]: classes }]}>
			<slot />
		</div>
	)
}
<style>
	.card {
		@apply flex flex-col rounded bg-white shadow-lg shadow-neutral-700/5 dark:bg-neutral-900 dark:shadow-neutral-950/50;
	}
</style>
