---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
// - UI
import Spacer from '../components/ui/Spacer.astro'
import Button from '../components/ui/Button.astro'
import { Icon } from 'astro-icon/components'

// Content
// - SEO
const SEO = {
	title: 'Oops! Foxi Lost the Trail - Page Not Found',
	description:
		" Looks like we chased our tail and lost the page. Don't worry, let's get you back on the Foxi trail!"
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Section>
		<Row flex classes="text-center">
			<Col span="2" />
			<Col span="8">
				<svg
					class="h-60 w-full lg:h-96"
					width="433"
					height="338"
					viewBox="0 0 433 338"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<g clip-path="url(#clip0_805_1988)">
						<path
							d="M315.696 52.1269L311.28 47.7109L307.072 51.9202L302.861 47.7109L298.445 52.1269L302.656 56.3349L298.445 60.5456L302.861 64.9615L307.072 60.7509L311.28 64.9615L315.696 60.5456L311.487 56.3349L315.696 52.1269Z"
							class="fill-primary-500"></path>
						<path
							d="M45.9538 211.072L41.5378 206.656L37.3285 210.865L33.1191 206.656L28.7031 211.072L32.9125 215.281L28.7031 219.49L33.1191 223.906L37.3285 219.696L41.5378 223.906L45.9538 219.49L41.7445 215.281L45.9538 211.072Z"
							class="fill-primary-500"></path>
						<path
							d="M126.243 22.9004L121.827 18.4844L117.616 22.6937L113.408 18.4844L108.992 22.9004L113.202 27.1097L108.992 31.3191L113.408 35.7351L117.616 31.5258L121.827 35.7351L126.243 31.3191L122.032 27.1097L126.243 22.9004Z"
							class="fill-primary-500"></path>
						<path
							d="M403.705 243.453L399.289 239.037L395.078 243.247L390.869 239.037L386.453 243.453L390.662 247.663L386.453 251.872L390.869 256.288L395.078 252.079L399.289 256.288L403.705 251.872L399.494 247.663L403.705 243.453Z"
							class="fill-primary-500"></path>
						<path
							d="M45.9518 61.1843C43.8678 61.1843 42.1745 62.8789 42.1745 64.9629C42.1745 67.0456 43.8678 68.7403 45.9518 68.7403C48.0345 68.7403 49.7305 67.0456 49.7305 64.9629C49.7305 62.8789 48.0345 61.1843 45.9518 61.1843ZM45.9518 71.4069C42.3985 71.4069 39.5078 68.5163 39.5078 64.9629C39.5078 61.4096 42.3985 58.5176 45.9518 58.5176C49.5051 58.5176 52.3972 61.4096 52.3972 64.9629C52.3972 68.5163 49.5051 71.4069 45.9518 71.4069Z"
							class="fill-primary-500"></path>
						<path
							d="M233.163 2.66862C231.079 2.66862 229.385 4.3633 229.385 6.44596C229.385 8.52996 231.079 10.2233 233.163 10.2233C235.245 10.2233 236.941 8.52996 236.941 6.44596C236.941 4.3633 235.245 2.66862 233.163 2.66862ZM233.163 12.8899C229.609 12.8899 226.719 9.9993 226.719 6.44596C226.719 2.89263 229.609 0.00195312 233.163 0.00195312C236.716 0.00195312 239.608 2.89263 239.608 6.44596C239.608 9.9993 236.716 12.8899 233.163 12.8899Z"
							class="fill-primary-500"></path>
						<path
							d="M413.85 92.9498C411.768 92.9498 410.073 94.6445 410.073 96.7285C410.073 98.8112 411.768 100.506 413.85 100.506C415.934 100.506 417.629 98.8112 417.629 96.7285C417.629 94.6445 415.934 92.9498 413.85 92.9498ZM413.85 103.173C410.297 103.173 407.406 100.282 407.406 96.7285C407.406 93.1752 410.297 90.2832 413.85 90.2832C417.404 90.2832 420.296 93.1752 420.296 96.7285C420.296 100.282 417.404 103.173 413.85 103.173Z"
							class="fill-primary-500"></path>
						<path
							d="M331.655 199.31C329.571 199.31 327.878 201.006 327.878 203.088C327.878 205.172 329.571 206.866 331.655 206.866C333.738 206.866 335.434 205.172 335.434 203.088C335.434 201.006 333.738 199.31 331.655 199.31ZM331.655 209.532C328.102 209.532 325.211 206.642 325.211 203.088C325.211 199.535 328.102 196.643 331.655 196.643C335.208 196.643 338.1 199.535 338.1 203.088C338.1 206.642 335.208 209.532 331.655 209.532Z"
							class="fill-primary-500"></path>
						<path
							d="M108.991 280.831C106.908 280.831 105.214 282.526 105.214 284.61C105.214 286.692 106.908 288.387 108.991 288.387C111.075 288.387 112.77 286.692 112.77 284.61C112.77 282.526 111.075 280.831 108.991 280.831ZM108.991 291.054C105.438 291.054 102.547 288.163 102.547 284.61C102.547 281.056 105.438 278.164 108.991 278.164C112.544 278.164 115.436 281.056 115.436 284.61C115.436 288.163 112.544 291.054 108.991 291.054Z"
							class="fill-primary-500"></path>
						<path
							d="M132.847 68.8955C132.847 75.5155 127.48 80.8822 120.862 80.8822C114.242 80.8822 108.875 75.5155 108.875 68.8955C108.875 62.2769 114.242 56.9102 120.862 56.9102C127.48 56.9102 132.847 62.2769 132.847 68.8955Z"
							class="fill-primary-500"></path>
						<path
							d="M132.853 206.869C132.853 210.198 130.154 212.898 126.825 212.898C123.496 212.898 120.797 210.198 120.797 206.869C120.797 203.541 123.496 200.842 126.825 200.842C130.154 200.842 132.853 203.541 132.853 206.869Z"
							class="fill-primary-500"></path>
						<path
							d="M432.354 187.44C432.354 190.769 429.654 193.468 426.326 193.468C422.996 193.468 420.297 190.769 420.297 187.44C420.297 184.11 422.996 181.412 426.326 181.412C429.654 181.412 432.354 184.11 432.354 187.44Z"
							class="fill-primary-500"></path>
						<path
							d="M12.0568 110.245C12.0568 113.575 9.3568 116.273 6.02813 116.273C2.69853 116.273 0 113.575 0 110.245C0 106.916 2.69853 104.217 6.02813 104.217C9.3568 104.217 12.0568 106.916 12.0568 110.245Z"
							class="fill-primary-500"></path>
						<path
							d="M313.104 110.245C313.104 113.575 310.404 116.273 307.075 116.273C303.746 116.273 301.047 113.575 301.047 110.245C301.047 106.916 303.746 104.217 307.075 104.217C310.404 104.217 313.104 106.916 313.104 110.245Z"
							class="fill-primary-500"></path>
						<path
							d="M303.584 278.168C303.584 283.176 299.526 287.234 294.518 287.234C289.512 287.234 285.453 283.176 285.453 278.168C285.453 273.161 289.512 269.102 294.518 269.102C299.526 269.102 303.584 273.161 303.584 278.168Z"
							class="fill-primary-500"></path>
						<path
							d="M37.324 152.862H69.9454V110.242L37.324 152.862ZM67.1214 203.593V175.495H12.0547V153.054L75.2254 71.957H92.392V152.862H108.991V175.495H92.392V203.593H67.1214Z"
							class="fill-neutral-800 dark:fill-white"></path>
						<path
							d="M331.661 152.862H364.283V110.242L331.661 152.862ZM361.459 203.593V175.495H306.391V153.054L369.563 71.957H386.728V152.862H403.327V175.495H386.728V203.593H361.459Z"
							class="fill-neutral-800 dark:fill-white"></path>

						<path
							d="M404.158 318.557L282.044 196.436L266.344 212.136L388.465 334.25C393.054 338.838 400.584 338.527 404.778 333.576C408.51 329.169 408.24 322.64 404.158 318.557Z"
							fill="#3C3C3D"></path>
						<path
							d="M255.031 204.555L269.771 219.295C270.523 220.047 271.745 220.047 272.497 219.295L289.21 202.582C289.963 201.829 289.963 200.609 289.21 199.857L274.47 185.117L255.031 204.555Z"
							fill="#E3E2E0"></path>
						<path
							d="M276.792 187.443L278.671 189.321L262.876 212.405L255.93 205.459L276.792 187.443Z"
							fill="#BCBBB9"></path>
						<path
							d="M277.5 223.289L273 218.79L280.849 210.942L288.697 203.094L289.769 204.166L277.5 223.289Z"
							fill="#292827"></path>
						<path d="M280.852 210.938L288.7 203.088V203.09L280.852 210.938Z" fill="#5E6061"></path>
						<path
							d="M207.693 206.659C169.65 206.659 138.81 175.819 138.81 137.776C138.81 99.7339 169.65 68.8939 207.693 68.8939C245.735 68.8939 276.575 99.7339 276.575 137.776C276.575 175.819 245.735 206.659 207.693 206.659ZM207.693 50.9512C159.741 50.9512 120.867 89.8245 120.867 137.776C120.867 185.73 159.741 224.602 207.693 224.602C255.645 224.602 294.518 185.73 294.518 137.776C294.518 89.8245 255.645 50.9512 207.693 50.9512Z"
							fill="#F1F5F9"></path>
						<path
							d="M162.911 190.126C148.155 177.493 138.805 158.729 138.805 137.779C138.805 99.7366 169.645 68.8965 207.687 68.8965C207.778 68.8965 207.87 68.8965 207.961 68.8979C176.149 79.1312 152.515 108.274 150.951 143.614C150.199 160.609 154.659 176.629 162.911 190.126Z"
							class="fill-neutral-400"></path>
						<path
							d="M207.693 206.656C190.598 206.656 174.958 200.43 162.917 190.12C154.665 176.623 150.205 160.603 150.957 143.608C152.521 108.268 176.154 79.126 207.966 68.8926C245.885 69.038 276.576 99.822 276.576 137.774C276.576 175.816 245.736 206.656 207.693 206.656Z"
							class="fill-neutral-200"></path>
						<path
							d="M207.687 206.655C169.645 206.655 138.805 175.815 138.805 137.773C138.805 158.722 148.155 177.486 162.911 190.119C174.953 200.429 190.593 206.655 207.687 206.655Z"
							fill="#6BCED8"></path>
						<path
							d="M161.972 92.0557C152.009 102.02 146.021 112.185 148.598 114.763C151.174 117.339 161.341 111.352 171.304 101.388C181.268 91.425 187.254 81.2583 184.678 78.6823C182.101 76.105 171.936 82.093 161.972 92.0557Z"
							fill="white"></path>
						<path
							d="M73.3359 257.39V234.899H82.8707C83.9055 234.899 84.8558 235.11 85.7217 235.532C86.5875 235.955 87.3372 236.525 87.9708 237.243C88.6254 237.961 89.1323 238.763 89.4913 239.65C89.8503 240.537 90.0298 241.445 90.0298 242.375C90.0298 243.642 89.7341 244.845 89.1428 245.986C88.5515 247.126 87.7385 248.055 86.7037 248.773C85.6689 249.491 84.444 249.85 83.0291 249.85H77.7074V257.39H73.3359ZM77.7074 246.018H82.7757C83.3037 246.018 83.7788 245.87 84.2012 245.574C84.6235 245.278 84.9614 244.856 85.2149 244.307C85.4683 243.737 85.595 243.093 85.595 242.375C85.595 241.593 85.4472 240.928 85.1515 240.379C84.877 239.83 84.5074 239.418 84.0428 239.144C83.5993 238.869 83.1136 238.732 82.5856 238.732H77.7074V246.018ZM97.5464 234.899H101.982L110.249 257.39H105.751L103.661 251.783H95.8042L93.7452 257.39H89.247L97.5464 234.899ZM102.869 248.71L99.7638 239.429L96.5328 248.71H102.869ZM121.195 257.548C119.738 257.548 118.354 257.252 117.045 256.661C115.757 256.07 114.617 255.257 113.624 254.222C112.653 253.166 111.892 251.941 111.343 250.547C110.794 249.154 110.52 247.644 110.52 246.018C110.52 244.476 110.794 243.029 111.343 241.678C111.892 240.305 112.663 239.101 113.656 238.067C114.648 237.032 115.81 236.219 117.14 235.627C118.471 235.036 119.917 234.74 121.48 234.74C123.592 234.74 125.397 235.194 126.897 236.103C128.417 236.99 129.558 238.172 130.318 239.65L127.055 242.058C126.485 240.939 125.682 240.083 124.648 239.492C123.634 238.901 122.525 238.605 121.322 238.605C120.371 238.605 119.505 238.806 118.724 239.207C117.943 239.608 117.267 240.157 116.697 240.854C116.127 241.551 115.683 242.354 115.366 243.262C115.071 244.17 114.923 245.131 114.923 246.144C114.923 247.221 115.081 248.214 115.398 249.122C115.736 250.03 116.2 250.822 116.792 251.498C117.404 252.173 118.112 252.712 118.914 253.113C119.717 253.493 120.604 253.683 121.575 253.683C122.715 253.683 123.803 253.388 124.838 252.796C125.894 252.205 126.876 251.339 127.784 250.199V254.507C125.904 256.534 123.708 257.548 121.195 257.548ZM127.467 249.027H122.937V245.827H131.078V257.39H127.467V249.027ZM150.421 253.557V257.39H134.804V234.899H150.135V238.732H139.175V244.149H148.647V247.696H139.175V253.557H150.421ZM165.81 242.945V257.39H161.439V234.899H164.923L176.549 249.724V234.93H180.92V257.39H177.277L165.81 242.945ZM195.197 257.548C193.55 257.548 192.05 257.231 190.699 256.598C189.368 255.964 188.217 255.109 187.246 254.032C186.295 252.934 185.556 251.709 185.028 250.357C184.5 248.985 184.236 247.58 184.236 246.144C184.236 244.645 184.511 243.219 185.06 241.868C185.63 240.495 186.401 239.281 187.372 238.225C188.365 237.148 189.527 236.303 190.857 235.691C192.209 235.057 193.687 234.74 195.292 234.74C196.918 234.74 198.396 235.068 199.727 235.722C201.078 236.377 202.229 237.253 203.179 238.352C204.13 239.45 204.869 240.675 205.397 242.026C205.925 243.378 206.189 244.772 206.189 246.208C206.189 247.686 205.914 249.111 205.365 250.484C204.816 251.836 204.045 253.05 203.053 254.127C202.081 255.183 200.92 256.017 199.568 256.629C198.238 257.242 196.781 257.548 195.197 257.548ZM188.671 246.144C188.671 247.116 188.819 248.055 189.115 248.963C189.41 249.872 189.833 250.685 190.382 251.403C190.952 252.1 191.638 252.659 192.441 253.082C193.264 253.483 194.194 253.683 195.228 253.683C196.284 253.683 197.224 253.472 198.048 253.05C198.871 252.606 199.558 252.026 200.107 251.308C200.656 250.568 201.068 249.755 201.342 248.868C201.638 247.96 201.786 247.052 201.786 246.144C201.786 245.173 201.627 244.244 201.31 243.357C201.015 242.449 200.582 241.646 200.012 240.949C199.463 240.231 198.776 239.672 197.953 239.27C197.15 238.848 196.242 238.637 195.228 238.637C194.151 238.637 193.201 238.858 192.377 239.302C191.575 239.724 190.899 240.294 190.35 241.013C189.801 241.731 189.379 242.533 189.083 243.42C188.809 244.307 188.671 245.215 188.671 246.144ZM225.806 238.732H218.615V257.39H214.275V238.732H207.085V234.899H225.806V238.732ZM235.28 257.39V234.899H250.39V238.732H239.651V244.529H248.584V248.077H239.651V257.39H235.28ZM262.727 257.548C261.08 257.548 259.581 257.231 258.229 256.598C256.899 255.964 255.748 255.109 254.776 254.032C253.826 252.934 253.087 251.709 252.559 250.357C252.031 248.985 251.767 247.58 251.767 246.144C251.767 244.645 252.042 243.219 252.591 241.868C253.161 240.495 253.932 239.281 254.903 238.225C255.896 237.148 257.057 236.303 258.388 235.691C259.739 235.057 261.217 234.74 262.822 234.74C264.448 234.74 265.927 235.068 267.257 235.722C268.609 236.377 269.76 237.253 270.71 238.352C271.66 239.45 272.399 240.675 272.927 242.026C273.455 243.378 273.719 244.772 273.719 246.208C273.719 247.686 273.445 249.111 272.896 250.484C272.347 251.836 271.576 253.05 270.583 254.127C269.612 255.183 268.45 256.017 267.099 256.629C265.768 257.242 264.311 257.548 262.727 257.548ZM256.202 246.144C256.202 247.116 256.35 248.055 256.645 248.963C256.941 249.872 257.363 250.685 257.912 251.403C258.483 252.1 259.169 252.659 259.971 253.082C260.795 253.483 261.724 253.683 262.759 253.683C263.815 253.683 264.755 253.472 265.578 253.05C266.402 252.606 267.088 252.026 267.637 251.308C268.186 250.568 268.598 249.755 268.873 248.868C269.168 247.96 269.316 247.052 269.316 246.144C269.316 245.173 269.158 244.244 268.841 243.357C268.545 242.449 268.112 241.646 267.542 240.949C266.993 240.231 266.307 239.672 265.483 239.27C264.681 238.848 263.773 238.637 262.759 238.637C261.682 238.637 260.732 238.858 259.908 239.302C259.106 239.724 258.43 240.294 257.881 241.013C257.332 241.731 256.909 242.533 256.614 243.42C256.339 244.307 256.202 245.215 256.202 246.144ZM286.608 257.548C284.812 257.548 283.281 257.252 282.014 256.661C280.768 256.049 279.755 255.214 278.973 254.159C278.213 253.103 277.653 251.909 277.294 250.579C276.935 249.227 276.756 247.823 276.756 246.366V234.899H281.127V246.366C281.127 247.295 281.212 248.203 281.381 249.09C281.571 249.956 281.877 250.737 282.299 251.434C282.722 252.131 283.281 252.68 283.978 253.082C284.675 253.483 285.541 253.683 286.576 253.683C287.632 253.683 288.508 253.483 289.205 253.082C289.923 252.659 290.483 252.1 290.884 251.403C291.306 250.706 291.613 249.924 291.803 249.059C291.993 248.172 292.088 247.274 292.088 246.366V234.899H296.427V246.366C296.427 247.908 296.237 249.354 295.857 250.706C295.498 252.057 294.917 253.25 294.115 254.285C293.334 255.299 292.32 256.101 291.074 256.693C289.828 257.263 288.339 257.548 286.608 257.548ZM305.202 242.945V257.39H300.831V234.899H304.315L315.941 249.724V234.93H320.312V257.39H316.669L305.202 242.945ZM324.991 257.39V234.899H333.163C335.613 234.899 337.661 235.406 339.309 236.419C340.956 237.412 342.191 238.763 343.015 240.474C343.839 242.163 344.25 244.043 344.25 246.113C344.25 248.393 343.796 250.378 342.888 252.068C341.98 253.757 340.692 255.067 339.024 255.996C337.376 256.925 335.423 257.39 333.163 257.39H324.991ZM339.847 246.113C339.847 244.655 339.583 243.378 339.055 242.28C338.527 241.16 337.767 240.294 336.775 239.682C335.782 239.049 334.578 238.732 333.163 238.732H329.362V253.557H333.163C334.599 253.557 335.814 253.24 336.806 252.606C337.799 251.952 338.548 251.065 339.055 249.945C339.583 248.805 339.847 247.527 339.847 246.113Z"
							class="fill-neutral-800 dark:fill-white"></path>
					</g>
					<defs>
						<clipPath id="clip0_805_1988">
							<rect width="433" height="338" class="fill-neutral-800 dark:fill-white"></rect>
						</clipPath>
					</defs>
				</svg>
			</Col>
			<Col span="2" />
		</Row>
		<Row flex classes="text-center items-center justify-center">
			<Col span="2" />
			<Col span="8">
				<Spacer size="2" desktopSize="4" />
				<Button link="/"> Return to homepage <Icon name="long-arrow-right" /> </Button>
			</Col>
			<Col span="2" />
		</Row>
	</Section>
</Layout>
