---
const { isExpanded } = Astro.props;
---

<button class={`header__toggle ${isExpanded ? "header__toggle--open" : ""}`} aria-expanded={isExpanded ? "true" : "false"} aria-label="Toggle navigation">
  <div class="header__toggle-inner">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </div>
</button>
<style>
  .header__toggle {
    @apply relative order-10 block h-10 w-10 self-center lg:hidden [&--open]:visible [&--open]:opacity-100;
  }
  .header__toggle-inner {
    @apply absolute w-6 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
  }
  .header__toggle-inner span {
    @apply absolute block h-0.5 transition-all transform duration-300 rounded-full bg-slate-900;
  }
  .header__toggle-inner span:nth-child(1) {
    @apply w-9/12 -translate-y-2 [.header\_\_toggle--open_&]:w-6 [.header\_\_toggle--open_&]:translate-y-0 [.header\_\_toggle--open_&]:rotate-45;
  }

  .header__toggle-inner span:nth-child(2) {
    @apply w-6 [.header\_\_toggle--open_&]:-rotate-45;
  }
  .header__toggle-inner span:nth-child(3) {
    @apply w-1/2   origin-top-left translate-y-2 [.header\_\_toggle--open_&]:w-0;
  }
</style>
