---
const { navItems, isExpanded } = Astro.props;
type navItem = {
  link: string;
  name: string;
};
---

<ul role="menubar" aria-label="Select page" class={`header__menu ${isExpanded ? "visible opacity-100 backdrop-blur-sm" : "invisible opacity-0"}`}>
  {
    navItems.map((item: navItem) => (
      <li role="none" class="header__menu-item">
        <a href={item.link} role="menuitem" class="header__menu-link">
          {item.name}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .header__menu {
    @apply absolute top-0 left-0 z-[-1] ml-auto h-screen w-full justify-center overflow-hidden overflow-y-auto overscroll-contain bg-white/90 px-8 pb-12 pt-28 font-medium transition-[opacity,visibility] duration-300 lg:visible lg:relative lg:top-0 lg:z-0 lg:flex lg:h-full lg:w-auto lg:items-stretch lg:overflow-visible lg:bg-white/0 lg:px-0 lg:py-0 lg:pt-0 lg:opacity-100;
  }
  .header__menu-item {
    @apply flex items-stretch;
  }
  .header__menu-link {
    @apply flex items-center gap-2 py-4 transition-colors duration-300 hover:text-emerald-500 focus:text-emerald-600 focus:outline-none focus-visible:outline-none lg:px-8;
  }
</style>
