---
import Button from './Button.astro'

type Props = {
	title: string
	body: string
	href?: string
}

const { href, title, body } = Astro.props
---

<div class="card">
	<div class="card__body">
		<h3 class="card__body--heading">{title}</h3>
		<p class="card__body--text">
			{body}
		</p>
	</div>
	{
		href && (
			<div class="card__actions">
				<Button link={href} name="Read more" style="primary" size="base" variation="link" />
			</div>
		)
	}
</div>

<style>
	.card {
		@apply overflow-hidden rounded bg-white text-slate-500 shadow-md shadow-slate-700/10 dark:bg-neutral-800;
	}
	.card__body {
		@apply p-6;
	}
	.card__body--heading {
		@apply mb-4 text-xl font-medium text-slate-700 dark:text-slate-50;
	}
	.card__body--text {
		@apply dark:text-slate-300;
	}

	.card__actions {
		@apply flex justify-end gap-2 p-2 px-5 pt-0;
	}
</style>
