---
import Logo from "./header/HeaderLogo.astro";
import NavLinks from "./header/HeaderNav.astro";
import ActionButtons from "./header/HeaderActions.astro";
import MenuToggle from "./header/HeaderMenuToggle.astro";

// Logo
const logo = { src: "logo.svg", alt: "wind ui" };

// Navigation links
const navItems = [
  { name: "Home", link: "/" },
  { name: "About", link: "/about" },
  { name: "Services", link: "/services" },
  { name: "Contact", link: "/contact" },
];

// Navigation action buttons
const actionButtons = [{ text: "Sign In", link: "/signin" }];

let isExpanded = true;
---

<header class="header">
  <div class="header__container">
    <nav aria-label="main navigation" role="navigation" class="header__nav">
      <Logo image={logo} />
      <MenuToggle isExpanded={isExpanded} />
      <NavLinks navItems={navItems} isExpanded={isExpanded} />
      <ActionButtons />
    </nav>
  </div>
</header>

<style>
  .header {
    @apply relative z-20 w-full border-b shadow-lg border-slate-200 bg-white/90 shadow-slate-700/5 after:absolute after:top-full after:left-0 after:z-10 after:block after:h-px after:w-full after:bg-slate-200 lg:border-slate-200 lg:backdrop-blur-sm lg:after:hidden;
  }
  .header__container {
    @apply relative mx-auto max-w-full px-6 lg:max-w-5xl xl:max-w-7xl 2xl:max-w-[96rem];
  }
  .header__nav {
    @apply flex h-[5.5rem] items-stretch justify-between font-medium text-slate-700;
  }
</style>
