---
interface Props {
	layout: string
	id: string
	mode: string
}

const { layout, id = '', mode = 'dark' } = Astro.props
const classes =
	(layout.includes('fullwidth') ? 'section--fullwidth ' : '') + (mode === 'dark' ? 'dark' : '')
---

<section id={id} class={classes}>
	<div class="container">
		<div class="row">
			<slot />
		</div>
	</div>
</section>

<style>
	section {
		@apply py-24 dark:bg-neutral-900;
	}
	.container {
		@apply mx-auto px-6 [.section--fullwidth_&]:max-w-full;
	}
	.row {
		@apply grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12;
	}
</style>
