---
interface Props {
	layout: string
	id: string
}

const { layout, id } = Astro.props
---

<section id={id}>
	<div class="container">
		<div class="row">
			<slot />
		</div>
	</div>
</section>

<style>
	section {
		@apply py-24;
	}
	.container {
		@apply mx-auto px-6;
	}
	.row {
		@apply grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12;
	}
</style>
