---
type Props = {
	align?: 'left' | 'center'
	divider?: 'base' | 'lg'
	overheading?: string
	subheading?: string
}

const { align, divider, overheading, subheading } = Astro.props
---

<div class={`text-element ${align && 'text-element--' + align}`}>
	<div class="text-element__headlines">
		{overheading && <span class="text-element__headlines--over">{overheading}</span>}
		<slot name="heading" />
		{subheading && <span class="text-element__headlines--sub">{subheading}</span>}
	</div>
	{divider && <hr class={`divider divider--${divider}`} />}
	<div class="text-element__body">
		<slot name="text" />
		<slot />
	</div>
</div>

<style>
	.text-element,
	.text-element__headlines,
	.text-element__body {
		@apply flex flex-col;
	}
	.text-element {
		@apply gap-6 [&.text-element--center]:items-center [&.text-element--center]:justify-center [&.text-element--center]:text-center [&.text-element--center_.text-element\_\_body]:items-center [&.text-element--center_.text-element\_\_headlines]:justify-center;
	}
	.text-element__headlines {
		@apply gap-2 font-medium text-neutral-700 dark:text-neutral-50;
	}
	.text-element__headlines--over {
		@apply text-base text-neutral-400;
	}
	.text-element__headlines--sub {
		@apply text-xl;
	}
	.divider {
		@apply h-1 w-10 rounded border-none bg-primary-500 [&.divider--lg]:w-20;
	}
	.text-element__body {
		@apply gap-6;
	}
</style>
