---
import Section from '../../ui/Section.astro'
import Col from '../../ui/Col.astro'
import Row from '../../ui/Row.astro'
import Testimonial from '../../ui/Testimonial.astro'
---

<Section id="something">
	<Row>
		<Col spanMobile="2" span="4">
			<Testimonial
				blockquote="Wind-ui, is probably one of the best libraries I've came across. Good looking, easy to use and above all super accessible"
				figcaption="User name"
				cite="Company"
				align="center"
				elevated
			/>
		</Col>
		<Col spanMobile="2" span="4">
			<Testimonial
				blockquote="Wind-ui, is probably one of the best libraries I've came across. Good looking, easy to use and above all super accessible"
				figcaption="User name"
				cite="Company"
				align="center"
				elevated
			/>
		</Col>
		<Col spanMobile="2" span="4">
			<Testimonial
				blockquote="Wind-ui, is probably one of the best libraries I've came across. Good looking, easy to use and above all super accessible"
				figcaption="User name"
				cite="Company"
				align="center"
				elevated
			/>
		</Col>
	</Row>
</Section>
