---
// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import ChipNotification from '../../ui/ChipNotification.astro'
import Image from 'astro/components/Image.astro'
import Heading from '../../ui/Heading.astro'
import Highlight from '../../ui/Highlight.astro'
import Button from '../../ui/Button.astro'
import AvatarGroup from '../../ui/AvatarGroup.astro'

// Content
// - Hero Image
import heroImage from '../../../assets/hero-01.png'
// - Avatars
import user1 from '../../../assets/avatars/avatar-01.png'
import user2 from '../../../assets/avatars/avatar-02.png'
import user3 from '../../../assets/avatars/avatar-03.png'
const avatars = [
	{ image: { src: user1.src, alt: 'user name' }, link: '/' },
	{ image: { src: user2.src, alt: 'user name' }, link: '/' },
	{ image: { src: user3.src, alt: 'user name' }, link: '/' }
]
---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<ChipNotification radius="rounded-full" classes="mb-6">
				<Highlight classes="font-bold pr-1">30K+ </Highlight> satisfied customers
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification>
			<Heading level="1"
				>Enhance team <Highlight>performance</Highlight> with seamless integration</Heading
			>
			<p class="pb-0 text-lg">Work smarter, not harder, with our innovative platform</p>
			<Button size="lg">Get started for free</Button>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="8">
			<Image
				src={heroImage}
				alt="Hero image"
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
			/></Col
		>
		<Col span="2" />
	</Row>
</Section>
