---
// Layout elements
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// UI elements
import Heading from '../../ui/Heading.astro'
import ChipNotification from '../../ui/ChipNotification.astro'
import Highlight from '../../ui/Highlight.astro'
import Card from '../../ui/cards/CardBasic.astro'

// Hero content
import cardImage from '../../../assets/test.jpg'
console.log(typeof cardImage)
---

<Section>
	<Row>
		<Col size="2" />
		<Col size="8" align="center" classes="space-y-6" />
		<Col size="2" />
	</Row>
	<Row mode="light">
		<Col size="4">
			<Card
				classes="bg-neutral-100"
				title="What a nice card"
				image={cardImage}
				subtitle="Spend days here, exploring a way of life by bicycle. Discover cobbled streets"
			/>
		</Col>
		<Col size="4">
			<Card
				classes="bg-neutral-100"
				title="What a nice card"
				image={cardImage}
				type="image-bottom"
				link="/"
				subtitle="Spend days here, exploring a way of life by bicycle. Discover cobbled streets"
			/>
		</Col>
	</Row>
</Section>
