---
// Layout elements
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import Button from '../../ui/Button.astro'

// UI elements
import Heading from '../../ui/Heading.astro'
import ChipNotification from '../../ui/ChipNotification.astro'
import Highlight from '../../ui/Highlight.astro'
import Test from '../../ui/Test.astro'
import { Icon } from 'astro-icon/components'
// Hero content
import bg from '../../../assets/bg-01.png'
---

<Section mode="dark">
	<Row>
		<Col size="2" />
		<Col size="8" align="center" extraClasses="space-y-6">
			<ChipNotification
				variation="button"
				body="I am a chip notification"
				link="/"
				linkName="Check it"
				buttonName="v3.15.25"
			/>
			<Heading size="7xl" mobileSize="5xl"
				>Crafting <Highlight>Handmade</Highlight> Websites that Drive Results.</Heading
			>
			<Button style="primary" size="lg" link="/" name="Hey" />
		</Col>
		<Col size="2" />
	</Row>
</Section>
