---
// Layout elements
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// UI elements
import Heading from '../../ui/Heading.astro'
import ChipNotification from '../../ui/ChipNotification.astro'
import Highlight from '../../ui/Highlight.astro'

// Hero content
import bg from '../../../assets/bg-01.png'
---

<Section>
	<Row>
		<Col size="2" />
		<Col size="8" align="center" classes="space-y-6">
			<ChipNotification
				variation="button-link"
				body="I am a chip notification"
				link="/"
				linkName="Check it"
				buttonName="v3.15.25"
			/>
			<Heading size="7xl" mobileSize="5xl"
				>Crafting <Highlight type="4" colorFrom="#ef4444" colorTo="#6366f1">Handmade</Highlight> Websites
				that Drive Results.</Heading
			>
		</Col>
		<Col size="2" />
	</Row>
</Section>
