---
import { Icon } from 'astro-icon/components'

// Layout elements
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// UI elements
import Spacer from '../../ui/Spacer.astro'
import Heading from '../../ui/Heading.astro'
import ChipNotification from '../../ui/ChipNotification.astro'
import Highlight from '../../ui/Highlight.astro'
import Button from '../../ui/Button.astro'
---

<Section>
	<Row>
		<Col size="2" />
		<Col size="8" align="center" classes="space-y-6">
			<ChipNotification>
				<Button size="sm" style="primary" slot="button"> v.3.1.3 </Button>
				Some text here
				<Button size="sm" style="primary" type="link" link="/" variation="link">
					v.3.1.3
					<Icon name="long-arrow-right" />
				</Button>
			</ChipNotification>

			<Heading size="7xl" mobileSize="5xl">
				Crafting <Highlight type="4" colorFrom="#ef4444" colorTo="#6366f1">Handmade</Highlight> Websites
				that Drive Results.
			</Heading>
			<Spacer size="6" desktopSize="12" />

			<Col size="2" />
		</Col>
	</Row>
</Section>
