---
// Layout elements
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// UI elements
import Heading from '../../ui/Heading.astro'
import Highlight from '../../ui/Highlight.astro'

// Hero content
import bg from '../../../assets/bg-01.png'
---

<Section id="something" bg={bg}>
	<Row>
		<Col size="2" />
		<Col size="8" align="center">
			<Heading>
				<Fragment>
					Crafting <Highlight type="4">Handmade</Highlight> Websites that Drive Results.
				</Fragment>
			</Heading>
		</Col>
		<Col size="2" />
	</Row>
</Section>
