---
// Layout elements
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// UI elements
import Heading from '../../ui/Heading.astro'

// Hero content
import bg from '../../../assets/bg-01.png'
---

<Section id="something" bg={bg}>
	<Row type="flex">
		<Col size="2" />

		<Heading>Transforming Ideas into Stunning Digital Experiences</Heading>

		<Col size="2" />
	</Row>
</Section>
