---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import { Image } from 'astro:assets'
import Button from '../../ui/Button.astro'
import swissFlag from '../../../assets/swiss-flag.png'

// Content
// - Hero Image
import heroImage from '../../../assets/hero-01.png'
// - Avatars
import user1 from '../../../assets/avatars/avatar-01.webp'
import user2 from '../../../assets/avatars/avatar-02.webp'
import user3 from '../../../assets/avatars/avatar-03.webp'
---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<h1>
				Gestion de tournois sportifs <strong>simplifiée et intuitive</strong>
			</h1>

			<p class="pb-0 text-lg">
				<img src={swissFlag.src} alt="Swiss flag" height="24" width="24" class="inline-block mr-2" style="border-radius: 5px" />
				Swiss made software
			</p>
			<Button size="lg" link="#features">Voir les fonctionnalités</Button>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="8">
			<Image
				src={heroImage}
				alt="Foxi. The tailwind astro theme"
				class="translate-y-8"
				format="webp"
			/></Col
		>
		<Col span="2" />
	</Row>
</Section>
