---
// Layout elements
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// UI elements
import ChipNotification from '../../ui/ChipNotification.astro'
import Image from 'astro/components/Image.astro'
import Heading from '../../ui/Heading.astro'
import Highlight from '../../ui/Highlight.astro'
import Button from '../../ui/Button.astro'
import Card from '../../ui/cards/CardBasic.astro'

// Content
import heroImage from '../../../assets/hero-01.png'
import Feature from '../../ui/Feature.astro'
---

<Section padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<ChipNotification classes="mb-6"
				>version 3.0 is out now,&nbsp;<a href="#">read more!</a></ChipNotification
			>
			<Heading level="1"
				>Enhance team <Highlight>performance</Highlight> with seamless integration</Heading
			>
			<p class="pb-0">Work smarter, not harder, with our innovative platform</p>
			<Button size="lg">Get started for free</Button>
			<Image
				src={heroImage}
				alt="Hero image"
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
			/>
		</Col>
		<Col span="2" />
	</Row>
</Section>
<Section mode="dark" classes="">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<Heading level="2">Enhance team <Highlight>performance</Highlight> and integration</Heading>
			<p class="pb-12">Work smarter, not harder, with our innovative platform</p>
		</Col>
		<Col span="2" />

		<Col span="4">
			<Feature title="Responsive" classes="mb-8">
				with end-to-end tests using modern web development techniques.
			</Feature>
		</Col>
		<Col span="4">
			<Feature title="Responsive" classes="mb-8">
				with end-to-end tests using modern web development techniques.
			</Feature>
		</Col>
		<Col span="4">
			<Feature title="Responsive" classes="mb-8">
				with end-to-end tests using modern web development techniques.
			</Feature>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Feature title="Responsive" classes="mb-8">
				with end-to-end tests using modern web development techniques.
			</Feature>
		</Col>
		<Col span="4">
			<Feature title="Responsive" classes="mb-8">
				with end-to-end tests using modern web development techniques.
			</Feature>
		</Col>
		<Col span="4">
			<Feature title="Responsive" classes="mb-8">
				with end-to-end tests using modern web development techniques.
			</Feature>
		</Col>
	</Row>
</Section>
