---
// Layout elements
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// UI elements
import Heading from '../../ui/Heading.astro'
---

<Section id="something">
	<Row type="flex">
		<Col size="2">sss</Col>

		<Heading>Hi there</Heading>

		<Col size="2" />
	</Row>
</Section>
