---
// Layout elements
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// UI elements
import Card from '../../ui/cards/CardBasic.astro'
import Avatar from '../../ui/Avatar.astro'

// Hero content
import cardImage from '../../../assets/test.jpg'

//Images
import avatar from '../../../assets/avatar.jpg'

const avatarImage = { src: avatar.src, alt: 'user name' }
---

<Section>
	<Row>
		<Col span="2" />
		<Col span="8" align="center" classes="space-y-6">
			<Avatar size="lg" image={avatarImage} />
		</Col>
		<Col span="2" />
	</Row>
	<Row mode="light">
		<Col span="4">
			<Card
				classes="bg-neutral-100"
				title="What a nice card"
				image={cardImage}
				subtitle="Spend days here, exploring a way of life by bicycle. Discover cobbled streets"
			/>
		</Col>
		<Col span="4">
			<Card
				classes="bg-neutral-100"
				title="What a nice card"
				image={cardImage}
				type="image-bottom"
				link="/"
				subtitle="Spend days here, exploring a way of life by bicycle. Discover cobbled streets"
			/>
		</Col>
	</Row>
</Section>
