---
// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

const { id = '', title = '', text = '', classes = '' } = Astro.props
---

<Section id="intro" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="12" align="center">
			<header class="page-header">
				<h1 class="page-header__title" set:html={title} />
				<p class="page-header__text" set:html={text} />
			</header>
		</Col>
	</Row>
</Section>

<style>
	.page-header {
		@apply mx-auto max-w-3xl;
	}
	.page-header__text {
		@apply text-lg leading-relaxed;
	}
</style>
