---
const { frontmatter } = Astro.props

//Layout Components
import Layout from '../layouts/Layout.astro'
import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'

// Sections
import Breadcrumbs from '../components/ui/Breadcrumbs.astro'
import Spacer from '../components/ui/Spacer.astro'
import BlogPostHero from '../components/blocks/blog/BlogPostHero.astro'
import BlogPostImage from '../components/blocks/blog/BlogPostImage.astro'
---

<Layout>
	<BlogPostHero
		tags={frontmatter.tags}
		title={frontmatter.title}
		author={frontmatter.author}
		publishDate={frontmatter.pubDate.toString().slice(0, 10)}
	/>
	<BlogPostImage image={frontmatter.image} />

	<Section padding="bottom" classes="-mt-72">
		<Row flex>
			<Col
				span="8"
				classes="bg-white dark:bg-neutral-950 p-10 rounded-2xl border border-neutral-200 dark:border-neutral-800 max-w-4xl w-full"
			>
				<Breadcrumbs />
				<Spacer size="6" desktopSize="12" />
				<div
					class="prose max-w-full lg:prose-lg prose-a:text-primary-500 prose-strong:text-neutral-600 prose-code:rounded prose-code:border prose-code:border-neutral-200 prose-code:bg-neutral-50 prose-code:p-1 prose-code:text-sm prose-li:text-neutral-500 prose-li:marker:text-neutral-500 prose-table:overflow-hidden prose-table:rounded prose-table:bg-neutral-50/60 prose-table:text-left prose-thead:border-b-neutral-200/60 prose-thead:bg-neutral-100 prose-tr:border-neutral-200/60 prose-th:border-r prose-th:border-r-neutral-200/60 prose-th:p-4 last:prose-th:border-none prose-td:border-r prose-td:border-r-neutral-200/60 prose-td:p-4 last:prose-td:border-none dark:prose-headings:text-neutral-50 dark:prose-p:text-neutral-300 dark:prose-strong:text-neutral-200 dark:prose-code:border-neutral-700 dark:prose-code:bg-neutral-800 dark:prose-code:text-neutral-400 dark:prose-li:text-neutral-300 dark:prose-li:marker:text-neutral-300 dark:prose-table:border-neutral-600 dark:prose-table:bg-neutral-900/60 dark:prose-thead:border-b-neutral-900 dark:prose-thead:bg-neutral-800 dark:prose-tr:border-b-neutral-800 dark:prose-th:border-r-neutral-900/60 dark:prose-td:border-r-neutral-800 dark:prose-td:text-neutral-300 [&_h2>strong]:text-primary-500"
				>
					<slot />
				</div>
			</Col>
		</Row>
	</Section>
</Layout>
