---
import { Icon } from 'astro-icon/components'

// Get the current URL from the request object
const url = new URL(Astro.request.url)

// Extract the pathname from the URL (e.g., "/components/accordions/")
const pathname = url.pathname

// Remove leading and trailing slashes, split the pathname into segments and filter out empty segments
const segments = pathname.split('/').filter(Boolean)

// Create breadcrumbs including "Home" as the first breadcrumb
const breadcrumbs = ['Home', ...segments]
---

<nav aria-label="Breadcrumb" class="breadcrumbs">
	<ol class="breadcrumbs__list">
		{
			breadcrumbs.map((segment, index) => (
				<li class="breadcrumbs__list-item">
					<a href={`/${segments.slice(0, index).join('/')}`} class="breadcrumbs__item-link">
						{index === 0 ? segment : segment.replace(/-/g, ' ')}
					</a>
					{index < breadcrumbs.length - 1 && (
						<Icon name="chevron-left" class="breadcrumbs__item-icon" />
					)}
				</li>
			))
		}
	</ol>
</nav>

<style>
	.breadcrumbs__list {
		@apply flex list-none items-stretch gap-2;
	}
	.breadcrumbs__list-item {
		@apply flex items-center gap-2 [&:not(:first-child):not(:last-child)]:hidden [&:not(:first-child):not(:last-child)]:md:flex;
	}
	.breadcrumbs__item-link {
		@apply flex items-center gap-1 truncate whitespace-nowrap capitalize text-neutral-700 transition-colors last:pointer-events-none last:text-neutral-400 hover:text-primary-500 dark:text-neutral-50;
	}
	.breadcrumbs__item-icon {
		@apply h-4 w-4 flex-none text-neutral-700 transition-transform md:rotate-180 dark:text-neutral-50;
	}
</style>
