---
interface Props {
	size?: string
	align?: string
	extraClasses?: string
}

const { size, align, extraClasses = 'ss' } = Astro.props
---

<div
	class:list={[
		'col',
		{ ['col-span-' + `${size}`]: size },
		{ ['text-' + `${align}`]: align },
		{ [`${extraClasses}`]: extraClasses }
	]}
>
	<slot />
</div>
