---
interface Props {
	size?: string
	align?: string
	extraClasses?: string
}

const { size, align, extraClasses } = Astro.props
---

<div class:list={[`space-y-6 col-span-${size} text-${align} ${extraClasses}`]}>
	<slot />
</div>
