---
interface Props {
	size?: string
	align?: string
	extraClasses?: string
}

const { size = 'auto', align = 'auto', extraClasses = '', space = 'auto' } = Astro.props
---

<div class={`col col-span-${size} text-${align} ${extraClasses}`}>
	<slot />
</div>
