---
interface Props {
	size?: string
	mobileSize?: string
	align?: string
	classes?: string
}

const { size, mobileSize = '12', align, classes } = Astro.props
---

<div
	class:list={[
		'col',
		{ ['col-span-' + `${mobileSize}`]: mobileSize },
		{ ['lg:col-span-' + `${size}`]: size },
		{ ['text-' + `${align}`]: align },
		{ [`${classes}`]: classes }
	]}
>
	<slot />
</div>
