---
interface Props {
	flex?: boolean
	extraClasses?: string
}

const { flex, extraClasses } = Astro.props
---

<div class:list={['row', { 'row--flex': flex }, { [`${extraClasses}`]: extraClasses }]}>
	<slot />
</div>

<style>
	.row {
		@apply grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12 [&.flex]:flex;
	}
	.row--flex {
		@apply flex-wrap items-center justify-center;
	}
</style>
